<div class="navbar navbar-dark bg-secondary">
<div> 
    <img src="Views/Content/Img/kindpng_7485176.png" class="img-center" />
</div>
    <div>
        <h1>GalleryStation</h1>
    </div>
    <div>
        <"Cart Icon">
        <button>Market</button>
        <button asp-controller="User">Profile</button>
        <form asp-controller="User" asp-action="Logout" method="POST">
            <button>Logout</button>
        </form>
        <"Profile Image">
        <a class="nav-link active" href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</div>


<div>
    <div>Forest , Cyber, Fantasy</div>
    <div>
        <p>Image Body All</p>
    </div>
</div>
